{% extends 'LITRevu/base.html' %}
{% block content %}
    <h2>Créer un ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {{ticket_form.title.label}}: <br>
        {{ticket_form.title}} <br>
        <br>
        {{ticket_form.description.label}}: <br>
        {{ticket_form.description}} <br>
        <br>
        {{ticket_form.image.label}}: <br>
        {{ticket_form.image}} <br>
        <br>
        {% csrf_token %}
        <button type="submit">Envoyer</button>
    </form>
{% endblock content %}
