{% extends 'LITRevu/base.html' %}
{% block content %}
    <h2>Modifier votre critique</h2>
    <h3>Vous êtes en train de poster en réponse à</h3>
    <p>{{ticket.time_created}}</p>
    <p>{{ticket.user}} a demandé une critique</p> <br>
    {{ticket.title}}<br>
    {{ticket.description}}<br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Critique</h2>
        {{review_form.edit_review}}
        {{review_form.headline.label}}:<br>
        {{review_form.headline}}<br>
        <br>
        {{review_form.body.label}}: <br>
        {{review_form.body}}<br>
        <br>
        {{review_form.rating.label}}: <br>
        {{review_form.rating}}<br>
        <br>
        <button type="submit">Envoyer</button>
    </form>
    {% comment %} <img src="{{ticket.image.url}}"> {% endcomment %}
{% endblock content %}