{% load LITRevu_extras %}
{% block content %}
<h2>Suppression</h2>

<form method="POST">
  {% csrf_token %}
  {% if instance|model_type == 'Ticket' %}
    <p>Voulez-vous supprimer ce ticket "{{ticket.title}}"?</p>
  {% elif instance|model_type == 'Review' %}
    <p>Voulez-vous supprimer cette critique "{{review.headline}}"?</p>
  {% include 'LITRevu/review_div.html' %}
{% endif %}
  <div>
    <button type="submit">Oui</button>
    <a href="{% url 'posts' %}">Annuler</a>
  </div>
</form>

{% endblock content %}