<div class="metadata">
    {% if instance.user == request.user %}
        <div class="creator">
            <p> Vous avez demandé une critique</p>
        </div>
    {% else %}
        <div class="creator">
            <p>{{instance.user }} a demandé une critique</p>
        </div>
    {% endif %}
        <div class="time">
            <p> {{ instance.time_created }}</p>
        </div>
</div>
<h2>{{instance.title }} - </h2>
<p>{{instance.description }}</p> <br>
{% if instance.image %}
    <img src="{{instance.image.url}}" alt="couverture-du-livre"> <br>
{% endif %}
{% if not instance.has_review %}
    {% if show_button %}
{% comment %} <p> not review</p>
<p>{{instance.id}}</p> {% endcomment %}
        <a href="{% url 'create_review_with_ticket' instance.id %}">
            <button class="button b-posts">créer critique</button>
        </a>
    {% endif %}
{% endif %}